services:
  web:
    build: .
    ports:
      - 8000:8000
    volumes:
      - .:/app
    env_file:
      - .env
    command: fastapi dev app/main.py --host 0.0.0.0
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
